<ul id="nav-breadcrumbs" class="linklist navlinks" role="menubar">
	<!-- EVENT overall_header_breadcrumbs_before -->
	<li class="breadcrumbs">
		<!-- IF U_SITE_HOME --><span class="crumb"><a href="{U_SITE_HOME}" itemprop="url" data-navbar-reference="home"><span itemprop="title">{L_SITE_HOME}</span></a></span><!-- ENDIF -->
		<!-- EVENT overall_header_breadcrumb_prepend -->
		<span class="crumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{U_INDEX}" accesskey="h" itemprop="url" data-navbar-reference="index"><span itemprop="title">{L_INDEX}</span></a></span>
		<!-- BEGIN navlinks -->
			<!-- EVENT overall_header_navlink_prepend -->
			<span class="crumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{navlinks.U_VIEW_FORUM}" itemprop="url"<!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->><span itemprop="title">{navlinks.FORUM_NAME}</span></a></span>
			<!-- EVENT overall_header_navlink_append -->
		<!-- END navlinks -->
		<!-- EVENT overall_header_breadcrumb_append -->
	</li>
	<!-- EVENT overall_header_breadcrumbs_after -->
</ul>
