<!-- IF not S_IS_BOT -->
<ul class="header-icons">
	<!-- IF STYLE_SHOW_SOCIAL_BUTTONS -->
	<script>
	(function(){
		var url = encodeURIComponent(document.location.href);
		var title = encodeURIComponent(document.title);
		document.write('<li><a rel="nofollow" target="_blank" href="https://vk.com/share.php?url='+url+'&amp;title='+title+'" title="{L_SOCIAL_SHARE_IN} vk.com" class="icon-vkontakte">{L_SOCIAL_SHARE_IN} vk.com</a></li>');
		document.write('<li><a rel="nofollow" target="_blank" href="https://plus.google.com/share?url='+url+'" title="{L_SOCIAL_SHARE_IN} Google Plus" class="icon-google-plus">{L_SOCIAL_SHARE_IN} Google Plus</a></li>');
		document.write('<li><a rel="nofollow" target="_blank" href="https://facebook.com/sharer.php?u='+url+'" title="{L_SOCIAL_SHARE_IN} facebook.com" class="icon-facebook">{L_SOCIAL_SHARE_IN} facebook.com</a></li>');
		document.write('<li><a rel="nofollow" target="_blank" href="https://twitter.com/intent/tweet?text='+title+'&amp;url='+url+'" title="{L_SOCIAL_SHARE_IN} twitter.com" class="icon-twitter">{L_SOCIAL_SHARE_IN} twitter.com</a></li>');
	})();
	</script>
	<!-- ENDIF -->
</ul>
<!-- ENDIF -->
