<!-- INCLUDE overall_header.html -->

<!-- IF S_USER_LOGGED_IN --><p class="responsive-center time rightside">{LAST_VISIT_DATE}</p><!-- ENDIF -->
<p class="responsive-center time">{CURRENT_TIME}</p>

<!-- IF S_ANNOUNCE_INDEX and .announcetopic -->
<div class="forumbg announcement"<!-- IF not S_ACTIVE_TOPICS_ON_INDEX --> style="margin-bottom: 15px"<!-- ENDIF -->>
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>{L_ANNOUNCEMENTS}</dt>
					<dd class="posts">{L_REPLIES}</dd>
					<dd class="views">{L_VIEWS}</dd>
					<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
<!-- BEGIN announcetopic -->
		<li class="row<!-- IF announcetopic.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --> global-announce<!-- IF announcetopic.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<dl class="icon {announcetopic.TOPIC_IMG_STYLE}">
				<dt<!-- IF announcetopic.TOPIC_ICON_IMG --> style="background-image: url({T_ICONS_PATH}{announcetopic.TOPIC_ICON_IMG});"<!-- ENDIF --> title="{announcetopic.TOPIC_FOLDER_IMG_ALT}">
					<!-- IF announcetopic.S_UNREAD_TOPIC and not S_IS_BOT --><a rel="nofollow" href="{announcetopic.U_NEWEST_POST}" class="icon-link"></a><!-- ENDIF -->
					<div class="list-inner">
						<!-- EVENT topiclist_row_prepend -->
						<!-- IF announcetopic.S_UNREAD_TOPIC and not S_IS_BOT --><a rel="nofollow" href="{announcetopic.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><a href="{announcetopic.U_VIEW_TOPIC}" class="topictitle">{announcetopic.TOPIC_TITLE}</a>
						<!-- IF announcetopic.S_TOPIC_UNAPPROVED or announcetopic.S_POSTS_UNAPPROVED --><a href="{announcetopic.U_MCP_QUEUE}">{announcetopic.UNAPPROVED_IMG}</a> <!-- ENDIF -->
						<!-- IF announcetopic.S_TOPIC_DELETED --><a href="{announcetopic.U_MCP_QUEUE}">{DELETED_IMG}</a> <!-- ENDIF -->
						<!-- IF announcetopic.S_TOPIC_REPORTED --><a href="{announcetopic.U_MCP_REPORT}">{announcetopic.REPORTED_IMG}</a><!-- ENDIF --><br />

						<!-- IF not S_IS_BOT -->
						<div class="responsive-show">
							{L_LAST_POST} {L_POST_BY_AUTHOR} {announcetopic.LAST_POST_AUTHOR_FULL} &laquo; <a rel="nofollow" href="{announcetopic.U_LAST_POST}" title="{L_GOTO_LAST_POST}">{announcetopic.LAST_POST_TIME}</a>
							<!-- IF announcetopic.S_POST_GLOBAL and FORUM_ID != announcetopic.FORUM_ID --><br />{L_POSTED} {L_IN} <a href="{announcetopic.U_VIEW_FORUM}">{announcetopic.FORUM_NAME}</a><!-- ENDIF -->
						</div>
						<!-- IF announcetopic.REPLIES --><span class="responsive-show left-box">{L_REPLIES}{L_COLON} <strong>{announcetopic.REPLIES}</strong></span><!-- ENDIF -->
						<!-- ENDIF -->

						<!-- IF .announcetopic.pagination -->
						<div class="pagination">
							<ul>
							<!-- BEGIN pagination -->
								<!-- IF announcetopic.pagination.S_IS_CURRENT --><li class="active"><span>{announcetopic.pagination.PAGE_NUMBER}</span></li>
								<!-- ELSEIF announcetopic.pagination.S_IS_ELLIPSIS --><li class="ellipsis"><span>{L_ELLIPSIS}</span></li>
								<!-- ELSEIF announcetopic.pagination.S_IS_NEXT -->
								<!-- ELSE --><li><a href="{announcetopic.pagination.PAGE_URL}">{announcetopic.pagination.PAGE_NUMBER}</a></li>
								<!-- ENDIF -->
							<!-- END pagination -->
							</ul>
						</div>
						<!-- ENDIF -->

						<div class="responsive-hide">
							<!-- IF announcetopic.S_HAS_POLL -->{POLL_IMG} <!-- ENDIF -->
							{L_POST_BY_AUTHOR} {announcetopic.TOPIC_AUTHOR_FULL} &raquo; {announcetopic.FIRST_POST_TIME}
							<!-- IF announcetopic.S_POST_GLOBAL and FORUM_ID != announcetopic.FORUM_ID --> {L_IN} <a href="{announcetopic.U_VIEW_FORUM}">{announcetopic.FORUM_NAME}</a>
							<!-- ELSEIF announcetopic.U_VIEW_FORUM and announcetopic.FORUM_NAME --> {L_IN} <!-- BEGIN parent_forums --><a href="{announcetopic.parent_forums.U_VIEW_FORUM}">{announcetopic.parent_forums.FORUM_NAME}</a> &raquo; <!-- END parent_forums --><a href="{announcetopic.U_VIEW_FORUM}">{announcetopic.FORUM_NAME}</a><!-- ENDIF -->
						</div>

						<!-- EVENT topiclist_row_append -->
					</div>
				</dt>
				<dd class="posts">{announcetopic.REPLIES} <dfn>{L_REPLIES}</dfn></dd>
				<dd class="views">{announcetopic.VIEWS} <dfn>{L_VIEWS}</dfn></dd>
				<dd class="lastpost"><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {announcetopic.LAST_POST_AUTHOR_FULL}
					<!-- IF not S_IS_BOT --><a rel="nofollow" href="{announcetopic.U_LAST_POST}" title="{L_GOTO_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><br />{announcetopic.LAST_POST_TIME}</span>
				</dd>
			</dl>
		</li>
<!-- END announcetopic -->
		</ul>
	</div>
</div>
<!-- ENDIF -->

<!-- IF S_ACTIVE_TOPICS_ON_INDEX and .activetopic -->
<div class="forumbg" style="margin-bottom: 15px">
	<div class="inner">
	<ul class="topiclist">
		<li class="header">
			<dl class="icon">
				<dt id="active_topics"><!-- IF S_DISPLAY_SEARCH --><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a><!-- ELSE -->{L_SEARCH_ACTIVE_TOPICS}<!-- ENDIF --></dt>
				<dd class="posts">{L_REPLIES}</dd>
				<dd class="views">{L_VIEWS}</dd>
				<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist topics">
<!-- BEGIN activetopic -->
		<li class="row<!-- IF activetopic.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF activetopic.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF activetopic.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF activetopic.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<dl class="icon {activetopic.TOPIC_IMG_STYLE}">
				<dt<!-- IF activetopic.TOPIC_ICON_IMG --> style="background-image: url({T_ICONS_PATH}{activetopic.TOPIC_ICON_IMG});"<!-- ENDIF --> title="{activetopic.TOPIC_FOLDER_IMG_ALT}">
					<!-- IF activetopic.S_UNREAD_TOPIC and not S_IS_BOT --><a rel="nofollow" href="{activetopic.U_NEWEST_POST}" class="icon-link"></a><!-- ENDIF -->
					<div class="list-inner">
						<!-- EVENT topiclist_row_prepend -->
						<!-- IF activetopic.S_UNREAD_TOPIC and not S_IS_BOT --><a rel="nofollow" href="{activetopic.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><a href="{activetopic.U_VIEW_TOPIC}" class="topictitle">{activetopic.TOPIC_TITLE}</a>
						<!-- IF activetopic.S_TOPIC_UNAPPROVED or activetopic.S_POSTS_UNAPPROVED --><a href="{activetopic.U_MCP_QUEUE}">{activetopic.UNAPPROVED_IMG}</a> <!-- ENDIF -->
						<!-- IF activetopic.S_TOPIC_DELETED --><a href="{activetopic.U_MCP_QUEUE}">{DELETED_IMG}</a> <!-- ENDIF -->
						<!-- IF activetopic.S_TOPIC_REPORTED --><a href="{activetopic.U_MCP_REPORT}">{activetopic.REPORTED_IMG}</a><!-- ENDIF --><br />

						<!-- IF not S_IS_BOT -->
						<div class="responsive-show">
							{L_LAST_POST} {L_POST_BY_AUTHOR} {activetopic.LAST_POST_AUTHOR_FULL} &laquo; <a rel="nofollow" href="{activetopic.U_LAST_POST}" title="{L_GOTO_LAST_POST}">{activetopic.LAST_POST_TIME}</a>
							<!-- IF activetopic.S_POST_GLOBAL and FORUM_ID != activetopic.FORUM_ID --><br />{L_POSTED} {L_IN} <a href="{activetopic.U_VIEW_FORUM}">{activetopic.FORUM_NAME}</a><!-- ENDIF -->
						</div>
						<!-- IF activetopic.REPLIES --><span class="responsive-show left-box">{L_REPLIES}{L_COLON} <strong>{activetopic.REPLIES}</strong></span><!-- ENDIF -->
						<!-- ENDIF -->

						<!-- IF .activetopic.pagination -->
						<div class="pagination">
							<ul>
							<!-- BEGIN pagination -->
								<!-- IF activetopic.pagination.S_IS_CURRENT --><li class="active"><span>{activetopic.pagination.PAGE_NUMBER}</span></li>
								<!-- ELSEIF activetopic.pagination.S_IS_ELLIPSIS --><li class="ellipsis"><span>{L_ELLIPSIS}</span></li>
								<!-- ELSEIF activetopic.pagination.S_IS_NEXT -->
								<!-- ELSE --><li><a href="{activetopic.pagination.PAGE_URL}">{activetopic.pagination.PAGE_NUMBER}</a></li>
								<!-- ENDIF -->
							<!-- END pagination -->
							</ul>
						</div>
						<!-- ENDIF -->

						<div class="responsive-hide">
							<!-- IF activetopic.S_HAS_POLL -->{POLL_IMG} <!-- ENDIF -->
							{L_POST_BY_AUTHOR} {activetopic.TOPIC_AUTHOR_FULL} &raquo; {activetopic.FIRST_POST_TIME}
							<!-- IF not activetopic.S_TOPIC_GLOBAL -->{L_IN} <a href="{activetopic.U_VIEW_FORUM}">{activetopic.FORUM_NAME}</a><!-- ELSE --> ({L_GLOBAL})<!-- ENDIF -->
						</div>

						<!-- EVENT topiclist_row_append -->
					</div>
				</dt>
				<dd class="posts">{activetopic.REPLIES} <dfn>{L_REPLIES}</dfn></dd>
				<dd class="views">{activetopic.VIEWS} <dfn>{L_VIEWS}</dfn></dd>
				<dd class="lastpost"><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {activetopic.LAST_POST_AUTHOR_FULL}
					<!-- IF not S_IS_BOT --><a rel="nofollow" href="{activetopic.U_LAST_POST}" title="{L_GOTO_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><br />{activetopic.LAST_POST_TIME}</span>
				</dd>
			</dl>
		</li>
<!-- END activetopic -->
		</ul>
	</div>
</div>
<!-- ENDIF -->

<!-- EVENT index_body_markforums_before -->
<!-- IF U_MARK_FORUMS -->
	<div class="action-bar compact">
		<a rel="nofollow" href="{U_MARK_FORUMS}" class="mark-read rightside" accesskey="m" data-ajax="mark_forums_read">{L_MARK_FORUMS_READ}</a>
	</div>
<!-- ENDIF -->
<!-- EVENT index_body_markforums_after -->

<!-- INCLUDE forumlist_body.html -->

<!-- EVENT index_body_forumlist_body_after -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
	<h3><a rel="nofollow" href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a rel="nofollow" href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
		<fieldset class="quick-login">
			<label for="username"><span>{L_LOGIN_NAME}{L_COLON}</span> <input type="text" tabindex="1" name="username" id="username" size="10" class="inputbox" title="{L_LOGIN_NAME}" /></label>
			<label for="password"><span>{L_PASSWORD}{L_COLON}</span> <input type="password" tabindex="2" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" autocomplete="off" /></label>
			<!-- IF U_SEND_PASSWORD -->
				<a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a>
			<!-- ENDIF -->
			<!-- IF S_AUTOLOGIN_ENABLED -->
				<span class="responsive-hide">|</span> <label for="autologin">{L_LOG_ME_IN} <input type="checkbox" tabindex="4" name="autologin" id="autologin" checked="checked" /></label>
			<!-- ENDIF -->
			<input type="submit" tabindex="5" name="login" value="{L_LOGIN}" class="button2" />
			{S_LOGIN_REDIRECT}
		</fieldset>
	</form>
<!-- ENDIF -->

<!-- EVENT index_body_stat_blocks_before -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<div class="stat-block online-list">
		<h3><!-- IF U_VIEWONLINE --><a rel="nofollow" href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --> <span class="extra">({L_ONLINE_EXPLAIN})</span></h3>
		<p>
			<!-- EVENT index_body_block_online_prepend -->
			{TOTAL_USERS_ONLINE}<br />{RECORD_USERS}<!-- IF LOGGED_IN_USER_LIST --><br />{LOGGED_IN_USER_LIST}<!-- ENDIF -->
			<!-- IF LEGEND --><br /><em>{L_LEGEND}{L_COLON} {LEGEND}</em><!-- ENDIF -->
			<!-- EVENT index_body_block_online_append -->
		</p>
	</div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
	<div class="stat-block birthday-list">
		<h3>{L_BIRTHDAYS}</h3>
		<p>
			<!-- EVENT index_body_block_birthday_prepend -->
			<!-- IF .birthdays -->{L_CONGRATULATIONS}{L_COLON} <strong><!-- BEGIN birthdays -->{birthdays.USERNAME}<!-- IF birthdays.AGE !== '' --> ({birthdays.AGE})<!-- ENDIF --><!-- IF not birthdays.S_LAST_ROW -->, <!-- ENDIF --><!-- END birthdays --></strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF -->
			<!-- EVENT index_body_block_birthday_append -->
		</p>
	</div>
<!-- ENDIF -->

<!-- IF NEWEST_USER -->
	<div class="stat-block statistics">
		<h3>{L_STATISTICS}</h3>
		<p>
			<!-- EVENT index_body_block_stats_prepend -->
			{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}
			<!-- EVENT index_body_block_stats_append -->
		</p>
	</div>
<!-- ENDIF -->

<!-- EVENT index_body_stat_blocks_after -->

<!-- INCLUDE overall_footer.html -->
