<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- IF SITE_KEYWORDS --><meta name="keywords" content="{SITE_KEYWORDS}" /><!-- ENDIF -->
<!-- IF SITE_DESCRIPTION --><meta name="description" content="{SITE_DESCRIPTION}" /><!-- ENDIF -->
{META}
<title><!-- IF UNREAD_NOTIFICATIONS_COUNT -->({UNREAD_NOTIFICATIONS_COUNT}) <!-- ENDIF --><!-- IF S_IN_MCP -->{L_MCP} - <!-- ELSEIF S_IN_UCP -->{L_UCP} - <!-- ENDIF --><!-- IF PAGE_TITLE and not S_ON_INDEX -->{PAGE_TITLE} - <!-- ENDIF --><!-- IF PAGE_NUMBER and ON_PAGE > 1 -->{PAGE_NUMBER} - <!-- ENDIF -->{SITENAME}<!-- IF S_ON_INDEX and SITE_DESCRIPTION --> - {SITE_DESCRIPTION}<!-- ENDIF --></title>

<!-- IF SOCIAL_MEDIA_COVER_URL --><link rel="image_src" href="{SOCIAL_MEDIA_COVER_URL}" /><!-- ENDIF -->
<!-- IF S_ENABLE_FEEDS -->
	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED_OVERALL}" href="{U_FEED}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED_NEWS}" href="{U_FEED}?mode=news"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_ALL_FORUMS}" href="{U_FEED}?mode=forums"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}"><!-- ENDIF -->
	<!-- EVENT overall_header_feeds -->
<!-- ENDIF -->

<!-- IF U_CANONICAL -->
	<link rel="canonical" href="{U_CANONICAL}">
<!-- ENDIF -->

<!-- IF S_ALLOW_CDN -->
<script>
	WebFontConfig = {
		google: {
			families: ['Open+Sans:600:cyrillic-ext,latin,greek-ext,greek,vietnamese,latin-ext,cyrillic']
		}
	};

	(function(d) {
		var wf = d.createElement('script'), s = d.scripts[0];
		wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
		wf.async = true;
		s.parentNode.insertBefore(wf, s);
	})(document);
</script>
<!-- ENDIF -->
<link href="{T_STYLESHEET_LINK}" rel="stylesheet">
<link href="{T_THEME_PATH}/responsive.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet" media="all and (max-width: 700px)">

<style>
<!-- IF STYLE_MAX_WIDTH -->
	#wrap {
		max-width: {STYLE_MAX_WIDTH}px;
	}
<!-- ENDIF -->
<!-- IF STYLE_FORUM_IMAGE_OPACITY -->
	.forum_read.hide-icon .forum-image {
		opacity: {STYLE_FORUM_IMAGE_OPACITY};
	}
<!-- ENDIF -->
</style>

<!-- IF S_PLUPLOAD -->
	<link href="{T_THEME_PATH}/plupload.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!--[if lte IE 9]>
	<link href="{T_THEME_PATH}/tweaks.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<![endif]-->

<!-- EVENT overall_header_head_append -->

{$STYLESHEETS}

<!-- EVENT overall_header_stylesheets_after -->

</head>
<body id="phpbb" class="nojs notouch section-{SCRIPT_NAME} {S_CONTENT_DIRECTION} {BODY_CLASS}<!-- IF STYLE_NEW_YEAR == 1 or STYLE_NEW_YEAR == -1 and (CURRENT_MONTH == 12 or CURRENT_MONTH == 1 or CURRENT_MONTH == 2) --> new-year<!-- ENDIF --><!-- IF not STYLE_ROUNDED_CORNERS --> no-rounded-corners<!-- ENDIF -->">

<!-- EVENT overall_header_body_before -->

<div id="wrap">
	<!-- IF STYLE_BACK_TO_TOP --><div id="back-to-top" title="{L_BACK_TO_TOP}"<!-- IF STYLE_BACK_TO_TOP == 2 --> class="on-right"<!-- ENDIF -->></div><!-- ENDIF -->
	<!-- IF S_TOP_LINKS -->
	<div id="top-menu">
		<ul id="top-links">
		<!-- BEGIN toplinks -->
			<li><a href="{toplinks.URL}"<!-- IF toplinks.NEWWINDOW --> target="_blank"<!-- ENDIF --><!-- IF toplinks.NOFOLLOW --> rel="nofollow"<!-- ENDIF -->>{toplinks.TITLE}</a></li>
		<!-- END toplinks -->
		</ul>
		<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
		<div id="search-box" class="search-box search-top responsive-hide">
			<form action="{U_SEARCH}" method="get" id="search">
			<fieldset>
				<input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
				<button class="button icon-button search-icon" type="submit" title="{L_SEARCH}">{L_SEARCH}</button>
				<a href="{U_SEARCH}" class="button icon-button search-adv-icon" title="{L_SEARCH_ADV}">{L_SEARCH_ADV}</a>
				{S_SEARCH_HIDDEN_FIELDS}
			</fieldset>
			</form>
		</div>
		<!-- ENDIF -->
	</div>
	<!-- ENDIF -->
	<div id="page-header" <!-- IF not S_TOP_LINKS --> style="padding-top:10px;"<!-- ENDIF -->>
		<div class="headerbar" role="banner">
			<div class="inner">

			<div id="site-description">
				<a id="logo" class="logo" href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->" title="<!-- IF U_SITE_HOME -->{L_SITE_HOME}<!-- ELSE -->{L_INDEX}<!-- ENDIF -->">{SITE_LOGO_IMG}</a>
				<h1<!-- IF not STYLE_SHOW_SITENAME_IN_HEADERBAR --> class="hidden"<!-- ENDIF -->><a href="{U_INDEX}">{SITENAME}</a></h1>
				<!-- IF STYLE_SHOW_SITENAME_IN_HEADERBAR and SITE_DESCRIPTION --><p>{SITE_DESCRIPTION}</p><!-- ENDIF -->
			</div>

			<!-- EVENT overall_header_searchbox_before -->
			<!-- IF not S_TOP_LINKS and S_DISPLAY_SEARCH and not S_IN_SEARCH -->
			<div id="search-box" class="search-box search-header" role="search">
				<form action="{U_SEARCH}" method="get" id="search">
				<fieldset>
					<input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
					<button class="button icon-button search-icon" type="submit" title="{L_SEARCH}">{L_SEARCH}</button>
					<a href="{U_SEARCH}" class="button icon-button search-adv-icon" title="{L_SEARCH_ADV}">{L_SEARCH_ADV}</a>
					{S_SEARCH_HIDDEN_FIELDS}
				</fieldset>
				</form>
			</div>
			<!-- ENDIF -->

			</div>
		</div>
		<!-- EVENT overall_header_navbar_before -->
		<!-- INCLUDE navbar_header.html -->
	</div>

	<!-- EVENT overall_header_page_body_before -->

	<div id="page-body" role="main"<!-- IF STYLE_MP_ON_LEFT --> class="mp-on-left"<!-- ENDIF -->>
		<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
		<div id="information" class="rules">
			<div class="inner">
				<strong>{L_INFORMATION}{L_COLON}</strong> {L_BOARD_DISABLED}
			</div>
		</div>
		<!-- ENDIF -->

		<!-- EVENT overall_header_content_before -->
