		<!-- EVENT overall_footer_content_after -->
	</div>

<!-- EVENT overall_footer_page_body_after -->

<div id="page-footer" role="contentinfo">
	<!-- INCLUDE navbar_footer.html -->

	<!-- IF STYLE_COUNTERS_HTML -->
	<div class="counters">{STYLE_COUNTERS_HTML}</div>
	<!-- ENDIF -->

	<div class="copyright">
		<!-- EVENT overall_footer_copyright_prepend -->
		{CREDIT_LINE}
		<!-- EVENT overall_footer_copyright_append -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
		<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
	</div>

	<div id="darkenwrapper" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
		<div id="darken">&nbsp;</div>
	</div>
	<div id="loading_indicator"></div>

	<div id="phpbb_alert" class="phpbb_alert" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
		<a href="#" class="alert_close"></a>
		<h3 class="alert_title">&nbsp;</h3><p class="alert_text"></p>
	</div>
	<div id="phpbb_confirm" class="phpbb_alert">
		<a href="#" class="alert_close"></a>
		<div class="alert_text"></div>
	</div>
</div>

</div>

<!--[if lt IE 9]>
	<script src="{T_JQUERY_LINK}"></script>
	<!-- IF S_ALLOW_CDN --><script>window.jQuery || document.write('<script src="{T_ASSETS_PATH}/javascript/jquery.min.js?assets_version={T_ASSETS_VERSION}"><\/script>')</script><!-- ENDIF -->
<![endif]-->
<!--[if gte IE 9]><!-->
	<script src="{T_JQUERY_V2_LINK}"></script>
	<!-- IF S_ALLOW_CDN --><script>window.jQuery || document.write('<script src="{T_ASSETS_PATH}/javascript/jquery.v2.js?assets_version={T_ASSETS_VERSION}"><\/script>')</script><!-- ENDIF -->
<!--<![endif]-->

<script src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
<!-- INCLUDEJS forum_fn.js -->
<!-- INCLUDEJS ajax.js -->

<!-- EVENT overall_footer_after -->

<!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->
{$SCRIPTS}

<script>
<!-- IF S_QUICK_REPLY and S_VIEWTOPIC -->
jQuery(function($)
{
	var waiting = false;
	$('#page-body').on('mouseup', 'div.postbody', function(event)
	{
		waiting = true;
		var post = this;
		setTimeout(function()
		{
			waiting = false;
			$('.no-full-quote').hide();
			if (get_selected_text() && event.which <= 1)
			{
				$('.no-full-quote', post).show();
			}
		}, 50);
	});
	$('body').on('mouseup', function(event)
	{
		if (!waiting) $('.no-full-quote').hide();
	});
});
<!-- ENDIF -->

<!-- IF S_SHOW_POLL_BOX -->
jQuery(function($)
{
	$("#postform input[name=poll_title]").blur(function()
	{
		if ($(this).val() == "") $("#poll_hidden").hide(); else $("#poll_hidden").show();
	});
	$("#postform input[name=poll_title]").keyup(function()
	{
		if ($(this).val() != "") $("#poll_hidden").show();
	});
	$("#postform input[name=poll_title]").blur();
});
<!-- ENDIF -->

<!-- IF S_TYPE_TOGGLE -->
jQuery(function($)
{
	$("#postform input[name=topic_type]").change(function()
	{
		if ($(this).val() == 0) $(".only-for-announces").hide(); else $(".only-for-announces").show();
	});
	$("#postform input[name=topic_type]:checked").change();
});
<!-- ENDIF -->
</script>

<!-- EVENT overall_footer_body_after -->

</body>
</html>
