<div class="panel bg2" id="poll-panel">
	<div class="inner">

	<h3>{L_ADD_POLL}</h3>

	<fieldset class="fields2">
	<!-- IF S_POLL_DELETE -->
		<dl>
			<dt><label for="poll_delete">{L_POLL_DELETE}{L_COLON}</label></dt>
			<dd><label><input type="checkbox" name="poll_delete" id="poll_delete"<!-- IF S_POLL_DELETE_CHECKED --> checked="checked"<!-- ENDIF --> /> </label></dd>
		</dl>
	<!-- ENDIF -->

	<!-- IF S_SHOW_POLL_BOX -->
		<dl>
			<dt><label for="poll_title">{L_POLL_QUESTION}{L_COLON}</label></dt>
			<dd><input type="text" name="poll_title" id="poll_title" maxlength="255" value="{POLL_TITLE}" class="inputbox" /></dd>
		</dl>

		<div id="poll_hidden">

		<dl>
			<dt><label for="poll_option_text">{L_POLL_OPTIONS}{L_COLON}</label><br /><span>{L_POLL_OPTIONS_EXPLAIN}</span></dt>
			<dd>
				<textarea name="poll_option_text" id="poll_option_text" rows="7" cols="35" class="inputbox">{POLL_OPTIONS}</textarea>
				<!-- IF S_POLL_RESET --><br /><label><input type="checkbox" name="poll_reset" id="poll_reset"<!-- IF S_POLL_RESET_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_POLL_RESET}</label><!-- ENDIF -->
			</dd>
		</dl>

		<hr class="dashed" />

		<dl>
			<dt><label for="poll_max_options">{L_POLL_MAX_OPTIONS}{L_COLON}</label></dt>
			<dd><input type="number" min="0" max="999" name="poll_max_options" id="poll_max_options" size="3" maxlength="3" value="{POLL_MAX_OPTIONS}" class="inputbox" /></dd>
			<dd>{L_POLL_MAX_OPTIONS_EXPLAIN}</dd>
		</dl>
		<dl>
			<dt><label for="poll_length">{L_POLL_FOR}{L_COLON}</label></dt>
			<dd><label><input type="number" min="0" max="999" name="poll_length" id="poll_length" size="3" maxlength="3" value="{POLL_LENGTH}" class="inputbox" /> {L_DAYS}</label></dd>
			<dd>{L_POLL_FOR_EXPLAIN}</dd>
		</dl>

		<!-- IF S_POLL_VOTE_CHANGE -->
			<hr class="dashed" />

			<dl>
				<dt><label for="poll_vote_change">{L_POLL_VOTE_CHANGE}{L_COLON}</label></dt>
				<dd><label><input type="checkbox" id="poll_vote_change" name="poll_vote_change"{VOTE_CHANGE_CHECKED} /> {L_POLL_VOTE_CHANGE_EXPLAIN}</label></dd>
			</dl>
		<!-- ENDIF -->

		<!-- IF S_POLL_SHOW_VOTERS -->
			<dl>
				<dt><label for="poll_show_voters">{L_POLL_SHOW_VOTERS}:</label></dt>
				<dd><label><input type="checkbox" id="poll_show_voters" name="poll_show_voters"{SHOW_VOTERS_CHECKED} /> {L_POLL_SHOW_VOTERS_EXPLAIN}</label></dd>
			</dl>
		<!-- ENDIF -->

		<!-- EVENT posting_poll_body_options_after -->
		</div>
	<!-- ENDIF -->
	</fieldset>

	</div>
</div>
