<!-- INCLUDEJS script.js -->

<!-- IF (S_QUICK_REPLY and S_VIEWTOPIC) or S_IN_MEMBERLIST -->
<script>
(function($)
{
	var post = $('div.post', '#page-body'),
	author,
	quoteButton;

	post.each(function() {
		author = $(this).find('p.author .responsive-hide a');
		author.attr('onclick', "insert_text('[b]" + author.text() + "[/b], '); return false;");

		quoteButton = $(this).find('a.button.quote-icon');
		quoteButton.attr('onclick', "addquote(" + this.id.substr(1) + ",'" + author.text() + "'); return false;");

		<!-- IF not S_QUICK_FULL_QUOTE -->
			quoteButton.hide().addClass('no-full-quote');
		<!-- ENDIF -->
	});

	var waiting = false;
	$('#page-body').on('mouseup', 'div.postbody', function(event)
	{
		waiting = true;
		var post = this;
		setTimeout(function()
		{
			waiting = false;
			$('.no-full-quote').hide();
			if (get_selected_text() && event.which <= 1)
			{
				$('.no-full-quote', post).show();
			}
		}, 50);
	});
	$('body').on('mouseup', function(event)
	{
		if (!waiting) $('.no-full-quote').hide();
	});
})(jQuery);

<!-- IF S_IN_MEMBERLIST -->
(function(){
var filters='<a href="{U_ALL_USERS}">{L_ALL}</a> &bull;\
	<a href="{U_ACTIVE_USERS}">{L_MEMBERLIST_ACTIVE_USERS}</a> &bull;\
	<a href="{U_INACTIVE_USERS}">{L_MEMBERLIST_INACTIVE_USERS}</a>';

$(".member-search").children("strong").replaceWith(filters);
})();
<!-- ENDIF -->
</script>
<!-- ENDIF -->

<!-- IF S_IN_MEMBERLIST -->
<style>
<!-- IF STYLE_ML_SHOW_ROW_NUMBERS -->
#memberlist tr::before {
	border: 0 solid #FAFAFA;
	border-width: 1px 1px 0 0;
	content: counter(rows, decimal);
	display: table-cell;
	font-size: 1.1em;
	padding: 5px 10px;
	text-align: center;
	width: 1%;
}

#memberlist thead > tr::before {
	border: none;
	color: #FFF;
	content: "";
	padding: 0;
}

#memberlist tbody {
	counter-reset: rows {N_START};
}

#memberlist tbody > tr {
	counter-increment: rows;
}
<!-- ENDIF -->

<!-- IF not STYLE_ML_SHOW_RANK -->
table.table1 span.rank-img {
	display: none;
}
<!-- ENDIF -->

<!-- IF not STYLE_ML_SHOW_POSTS -->
table.table1 .posts {
	display: none;
}
<!-- ENDIF -->

<!-- IF not STYLE_ML_SHOW_JOINED -->
table.table1 .joined, table.table1 tbody td:nth-last-child(2) {
	display: none;
}
<!-- ENDIF -->

<!-- IF not STYLE_ML_SHOW_LAST_ACTIVE -->
table.table1 .active, table.table1 td:last-child {
	display: none;
}
<!-- ENDIF -->

</style>
<!-- ENDIF -->
