<!-- IF STYLE_BACK_TO_TOP --><div id="back-to-top" title="{L_BACK_TO_TOP}" class="<!-- IF STYLE_BACK_TO_TOP == 2 -->on-right<!-- ELSE -->on-left<!-- ENDIF -->"></div><!-- ENDIF -->

<!-- IF S_TOP_LINKS -->
<div id="top-menu">
	<div id="top-links"><ul>
	<!-- BEGIN toplinks -->
		<li><a href="{toplinks.URL}"<!-- IF toplinks.NEWWINDOW --> target="_blank"<!-- ENDIF --><!-- IF toplinks.NOFOLLOW --> rel="nofollow"<!-- ENDIF -->>{toplinks.TITLE}</a></li>
	<!-- END toplinks -->
	</ul></div>
	<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
	<div class="search-box search-top responsive-hide">
		<form action="{U_SEARCH}" method="get">
		<fieldset>
			<input name="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
			<button class="button icon-button search-icon" type="submit" title="{L_SEARCH}">{L_SEARCH}</button>
			<a href="{U_SEARCH}" class="button icon-button search-adv-icon" title="{L_SEARCH_ADV}">{L_SEARCH_ADV}</a>
			{S_SEARCH_HIDDEN_FIELDS}
		</fieldset>
		</form>
	</div>
	<!-- ENDIF -->
</div>
<!-- ENDIF -->
