<!-- IF S_TOPIC_TYPE_ANNOUNCE or S_TOPIC_TYPE_STICKY -->
<dl>
	<dt><label for="topic_priority">{L_TOPIC_PRIORITY}{L_COLON}</label></dt>
	<dd><label for="topic_priority"><input type="number" min="-999" max="999" name="topic_priority" id="topic_priority" size="3" maxlength="3" value="{TOPIC_PRIORITY}" class="inputbox autowidth" /> {L_TOPIC_PRIORITY_EXPLAIN}</label></dd>
</dl>
<!-- ENDIF -->
<!-- IF S_FIRST_POST_SHOW_ALLOWED -->
	<div><label for="topic_first_post_show" title="{L_FIRST_POST_SHOW_EXPLAIN}"><input type="checkbox" name="topic_first_post_show" id="topic_first_post_show"{S_FIRST_POST_SHOW_CHECKED} /> {L_FIRST_POST_SHOW}</label></div>
<!-- ENDIF -->
<!-- IF S_DO_MERGE_ALLOWED -->
	<div><label for="do_merge"><input type="checkbox" name="do_merge" id="do_merge"{S_DO_MERGE_CHECKED} /> {L_DO_MERGE}</label></div>
<!-- ENDIF -->
