<!-- IF S_FORUM_RULES or FORUM_DESC or FORUM_NAME -->
	<div class="rules">
		<div class="inner">
		<!-- IF FORUM_NAME --><strong>{L_FORUM_NAME}{L_COLON}</strong> {FORUM_NAME}<br /><!-- ENDIF -->
		<!-- IF FORUM_DESC --><strong>{L_FORUM_DESC}{L_COLON}</strong> {FORUM_DESC}<br /><!-- ENDIF -->
		<!-- IF S_FORUM_RULES --><strong>{L_FORUM_RULES}{L_COLON}</strong> <!-- IF U_FORUM_RULES --><a href="{U_FORUM_RULES}">{U_FORUM_RULES}</a><!-- ELSE -->{FORUM_RULES}<!-- ENDIF --><br /><!-- ENDIF -->
		</div>
	</div>
<!-- ENDIF -->
