<!-- IF not S_TZ_OPTIONS or not S_DATEFORMAT_OPTIONS or S_HIDE_ALL_EMAILS -->
<script>
	function addListener(obj, type, listener) {
		if (obj.addEventListener) {
			obj.addEventListener(type, listener, false);
			return true;
		} else if(obj.attachEvent) {
			obj.attachEvent('on' + type, listener);
			return true;
		}
		return false;
	}

	<!-- IF not S_TZ_OPTIONS -->
	addListener(window, 'load', function() {
		$("#tz_select_date").parent("dl").remove();
	});
	<!-- ENDIF -->

	<!-- IF not S_DATEFORMAT_OPTIONS -->
	addListener(window, 'load', function() {
		$("#custom_date").parent("dl").hide();
	});
	<!-- ENDIF -->

	<!-- IF S_HIDE_ALL_EMAILS -->
	addListener(window, 'load', function() {
		$("#viewemail0").parents("dl").remove();
	});
	<!-- ENDIF -->
</script>
<!-- ENDIF -->
