<dl>
	<dt><label for="user_topics_per_page">{L_USER_TOPICS_PER_PAGE}{L_COLON}</label></dt>
	<dd><input type="number" class="nano" name="user_topics_per_page" id="user_topics_per_page" maxlength="3" size="3" min="10" max="100" value="{USER_TOPICS_PER_PAGE}" /></dd>
</dl>
<dl>
	<dt><label for="user_posts_per_page">{L_USER_POSTS_PER_PAGE}{L_COLON}</label></dt>
	<dd><input type="number" class="nano" name="user_posts_per_page" id="user_posts_per_page" maxlength="3" size="3" min="10" max="100" value="{USER_POSTS_PER_PAGE}" /></dd>
</dl>
