<dl>
	<dt><label for="mp_on_left0">{L_VIEW_MP_ON_LEFT}{L_COLON}</label></dt>
	<dd>
		<label for="mp_on_left1"><input type="radio" name="mp_on_left" id="mp_on_left1" value="1"<!-- IF S_MP_ON_LEFT == 1 --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
		<label for="mp_on_left2"><input type="radio" name="mp_on_left" id="mp_on_left2" value="2"<!-- IF S_MP_ON_LEFT == 2 --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
		<label for="mp_on_left0"><input type="radio" name="mp_on_left" id="mp_on_left0" value="0"<!-- IF S_MP_ON_LEFT == 0 --> checked="checked"<!-- ENDIF --> /> {L_MP_DEFAULT}</label>
	</dd>
</dl>