<!-- IF S_USER_LOGGED_IN -->
	<li class="small-icon icon-switch-mp-on-<!-- IF STYLE_MP_ON_LEFT -->right<!-- ELSE -->left<!-- ENDIF -->">
		<a href="{U_SWITCH_MP}" class="switch-mp-link" data-ajax="toggle_link" data-toggle-class="small-icon icon-switch-mp-on-<!-- IF STYLE_MP_ON_LEFT -->left<!-- ELSE -->right<!-- ENDIF -->" data-toggle-text="{S_SWITCH_MP_TOGGLE}" data-toggle-url="{U_SWITCH_MP_TOGGLE}" data-update-all=".switch-mp-link" data-runs-func="switchMP">{S_SWITCH_MP}</a>
	</li>
<!-- ENDIF -->
