<!-- IF STYLE_MP_SHOW_WARNINGS and postrow.POSTER_WARNINGS -->
	<dd class="wcards">
	<!-- BEGIN postrow.userwarning -->
		<!-- IF postrow.userwarning.U_POST -->
			<a rel="nofollow" href="{postrow.userwarning.U_POST}"
		<!-- ELSE -->
			<span
		<!-- ENDIF -->
		class="wcard {postrow.userwarning.TYPE}" title="{postrow.userwarning.TITLE}">
			{postrow.userwarning.TYPE_SHORT}
		<!-- IF postrow.userwarning.U_POST --></a><!-- ELSE --></span><!-- ENDIF -->
	<!-- END postrow.userwarning -->
	</dd>
<!-- ENDIF -->
<!-- IF STYLE_MP_SHOW_AGE and postrow.POSTER_AGE and postrow.POSTER_AGE < 65 and postrow.POSTER_AGE > 10 --><dd class="profile-age"><strong>{L_AGE}{L_COLON}</strong> {postrow.POSTER_AGE}</dd><!-- ENDIF -->
<!-- IF (STYLE_MP_SHOW_RATING or STYLE_MP_SHOW_RATING_DETAILED) and postrow.S_POSTER_RATING --><dd><strong>{L_USER_RATING}{L_COLON}</strong> <!-- IF not RATE_NO_POSITIVE and not RATE_NO_NEGATIVE --><!-- IF STYLE_MP_SHOW_RATING and STYLE_MP_SHOW_RATING_DETAILED -->{postrow.POSTER_RATING} (+{postrow.POSTER_RATING_POSITIVE}/−{postrow.POSTER_RATING_NEGATIVE})<!-- ELSEIF STYLE_MP_SHOW_RATING_DETAILED -->+{postrow.POSTER_RATING_POSITIVE}/−{postrow.POSTER_RATING_NEGATIVE}<!-- ELSE --><span title="+{postrow.POSTER_RATING_POSITIVE}/−{postrow.POSTER_RATING_NEGATIVE}">{postrow.POSTER_RATING}</span><!-- ENDIF --><!-- ELSE -->{postrow.POSTER_RATING}<!-- ENDIF --></dd><!-- ENDIF -->
<!-- IF (STYLE_MP_SHOW_RATED or STYLE_MP_SHOW_RATED_DETAILED) and postrow.S_POSTER_RATING --><dd><strong>{L_USER_RATED}{L_COLON}</strong> <!-- IF not RATE_NO_POSITIVE and not RATE_NO_NEGATIVE --><!-- IF STYLE_MP_SHOW_RATED and STYLE_MP_SHOW_RATED_DETAILED -->{postrow.POSTER_RATED} (+{postrow.POSTER_RATED_POSITIVE}/−{postrow.POSTER_RATED_NEGATIVE})<!-- ELSEIF STYLE_MP_SHOW_RATED_DETAILED -->+{postrow.POSTER_RATED_POSITIVE}/−{postrow.POSTER_RATED_NEGATIVE}<!-- ELSE --><span title="+{postrow.POSTER_RATED_POSITIVE}/−{postrow.POSTER_RATED_NEGATIVE}">{postrow.POSTER_RATED}</span><!-- ENDIF --><!-- ELSE -->{postrow.POSTER_RATED}<!-- ENDIF --></dd><!-- ENDIF -->
<!-- IF STYLE_MP_SHOW_WITH_US and postrow.POSTER_WITH_US --><dd class="profile-with_us"><strong>{L_USER_WITH_US}{L_COLON}</strong> {postrow.POSTER_WITH_US}</dd><!-- ENDIF -->
