<!-- IF SITE_KEYWORDS --><meta name="keywords" content="{SITE_KEYWORDS}" /><!-- ENDIF -->
<!-- IF SITE_DESCRIPTION --><meta name="description" content="{SITE_DESCRIPTION}" /><!-- ENDIF -->
<!-- IF SOCIAL_MEDIA_COVER_URL --><link rel="image_src" href="{SOCIAL_MEDIA_COVER_URL}" /><!-- ENDIF -->
<!-- INCLUDECSS @phpBBex_phpBBext/styles.css -->
<!-- INCLUDECSS @phpBBex_phpBBext/styles_we_uniwersal.css -->
<!-- IF STYLE_MAX_WIDTH or S_TOP_LINKS -->
<style type="text/css" media="screen">
<!-- IF STYLE_MAX_WIDTH -->
	div#top-menu, .inventea-wrapper, .inventea-dashboard, .inventea-footer {
		max-width: {STYLE_MAX_WIDTH}px;
	}
<!-- ENDIF -->
<!-- IF S_TOP_LINKS -->
	#wrap {
		padding-top: 30px;
	}
	#search-box {
		display:none;
	}
<!-- ENDIF -->

</style>
<!-- ENDIF -->
