/* Hide back to top buttons */
.back2top, a.top, a.top2 {
	display: none;
}

.content dl.faq {
	margin: 1em;
}

.postprofile {
	margin: 0;
	padding: 5px 0;
}

/* Buttons used in the editor */
#format-buttons {
	margin: 5px 0 2px;
}

/* Global back to top of page */
#back-to-top {
	display: none;
	z-index: 10;
	position: fixed;
	top: 0;
	margin: 15px;
	padding: 0;
	width: 24px;
	height: 24px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAZlBMVEUAAACEiY2SmJ2epKmjqq+lrLGor7SosLWpsbaqsbaqsbeqsbeqsbeqsbeqsbeqsbeqsbeqsbeqsbeqsbeqsbeqsbeqsbeqsbersrettLm6wMTDyc3O09bZ3d/q6+3x8vP5+fr8/f1nT312AAAAF3RSTlMAGiEnNEFPYGpxeoeUnqm1vdLk7vP4+0kZka8AAACySURBVHgBddDxboYgDATwAx36qVPBQZ3TMd7/JbcQSpDM359ccyVFIl+rJqeXXqLUvBOzUxEpS4VNIXnRnevSPNXcW1zLPYVNAMh7SyPQOGLXRcxKDMSOEL6I9Vgp2X0I/pOSGSYXhT+5TMPmoujgf3Gwf4fI7xQZrjpDcnLVQpHn4IeXD/SvvroI+xDA9HASyO3hiFCOKrZF1FWJVUjUrc20yMRk8/goUBLdrI3Rs+LnX+9DKZ4DVjilAAAAAElFTkSuQmCC") no-repeat;
	cursor: pointer;
	opacity: 0.6;
}

#back-to-top.on-left {
	left: 0;
}

#back-to-top.on-right {
	right: 0;
}

#back-to-top:hover {
	opacity: 1.0;
}

#back-to-top.tower:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

#back-to-top.tower {
	margin: 0;
	padding: 15px;
	background-position: center 15px;
	height: auto;
	bottom: 0px;
}

/* Switch miniprofile */
.icon-switch-mp-on-left { background-image: url("./../../../../../../styles/prosilver_ex/theme/images/icon_profiles_left.png"); }
.icon-switch-mp-on-right { background-image: url("./../../../../../../styles/prosilver_ex/theme/images/icon_profiles_right.png"); }

.mp-on-left div.postbody {
	float: right;
	width: 79%;
}
.mp-on-left .postprofile {
	float: left;
	width: 20%;
	border-left: none;
	border-right: 1px solid #FFF;
}
.mp-on-left .pm .postprofile {
	border-left: none;
	border-right: 1px solid #DDD;
}
.mp-on-left .postprofile dd, .mp-on-left .postprofile dt {
	margin: 0 12px 0 0;
}
.mp-on-left .post.online {
	background-image: none;
}

/* Poll option voters */
.poll_option_voters {
	margin-left: 30%;
}

/* Inline code block */
code.tt {
	background-color: #FFFFFF;
	border: 1px solid #c9d2d8;
	color: #2e8b57;
	display: inline;
	font: 0.9em "Courier New", Courier, monospace;
	line-height: 1.3em;
	padding: 0 3px;
}

/* Spoiler block */
dl.spoilerbox {
	margin: 0.25em 0;
	padding: 3px;
	background-color: #FFFFFF;
	border: 1px solid #d8d8d8;
	font-size: 1em;
}

dl.spoilerbox > dt {
	background: url('data:image/gif;base64,R0lGODlhCgAKAKIAADMzM//M/7u7u2ZmZt3d3f///wAAAAAAACH5BAEHAAEALAAAAAAKAAoAAAMVGLrM0+7BMIpsg1iYBeDeNHwTOUEJADs=') no-repeat 4px 4px;
	padding: 4px 5px 4px 18px;
	font-size: 0.9em;
	line-height: 0.9em;
	display: block;
	cursor: pointer;
	color: #105289;
	width: auto;
}

dl.spoilerbox > dt:hover {
	color: #D31141;
	text-decoration: underline;
}

dl.spoilerbox > dd {
	margin-top: 3px;
	border-top: 1px solid #CCCCCC;
	padding: 3px 3px 0 3px;
	display: none;
}

dl.spoilerbox.spoilerbox-on > dt {
	background-image: url('data:image/gif;base64,R0lGODlhCgAKAKIAADMzM//M/2ZmZt3d3f///wAAAAAAAAAAACH5BAEHAAEALAAAAAAKAAoAAAMUGLrc/rCJSecCJBPQwBicA4RRuSQAOw==');
}

dl.spoilerbox.spoilerbox-on > dd {
	display: block;
}

/* Top menu */
#top-menu {
	margin: 0 auto;
	padding: 0 30px;
	max-width: 1152px
}

#top-links {
	float: left;
	margin: 8px 0;
}


#top-links ul {
	list-style: none;
	overflow: auto;
}

#top-links li {
	float: left;
	border-right: 1px solid #828282;
	font-size: 1.1em;
}

#top-links ul li:last-child {
	border-right: 0;
}

#top-links ul li a {
	padding: 2px 10px;
	display: block;
	text-decoration: none;
}

.search-top {
	float: right;
	margin: 5px 0;
}

input.nano	{ width: 50px; }

/* Responsive
---------------------------------------- */
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	/* Switch miniprofile */
	.mp-on-left div.postbody {
		float: none;
		width: auto;
	}
	.mp-on-left .postprofile {
		float: none;
		width: auto;
		border-right: none;
	}
	.mp-on-left .pm .postprofile {
		border-right: none;
	}
	.mp-on-left .postprofile dd, .mp-on-left .postprofile dt {
		margin: 0;
	}

	/* Poll option voters */
	.poll_option_voters {
		margin-left: 20px;
	}

	/* Top menu */
	#top-menu {
		padding: 0;
	}
}
