/* Content Styles
---------------------------------------- */

ul.topiclist {
	display: block;
	list-style-type: none;
	margin: 0;
}

ul.forums {
	background: transparent none repeat-x 0 0;
}

ul.topiclist li {
	display: block;
	list-style-type: none;
	margin: 0;
}

ul.topiclist dl {
	position: relative;
}

ul.topiclist li.row dl {
	padding: 2px 0;
}

ul.topiclist dt, ul.topiclist dd {
	display: block;
	float: left;
}

ul.topiclist dt {
	width: 100%;
	margin-right: -440px;
	font-size: 1.1em;
}

ul.topiclist.missing-column dt {
	margin-right: -345px;
}

ul.topiclist.two-long-columns dt {
	margin-right: -250px;
}

ul.topiclist.two-columns dt {
	margin-right: -80px;
}

ul.topiclist dt .list-inner {
	margin-right: 440px;
	padding-left: 5px;
	padding-right: 5px;
}

ul.topiclist.missing-column dt .list-inner {
	margin-right: 345px;
}

ul.topiclist.two-long-columns dt .list-inner {
	margin-right: 250px;
}

ul.topiclist.two-columns dt .list-inner {
	margin-right: 80px;
}

ul.topiclist dd {
	border-left: 1px solid transparent;
	padding: 4px 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul.topiclist dfn {
	/* Labels for post/view counts */
	position: absolute;
	left: -999px;
	width: 990px;
}

ul.topiclist li.row dt a.subforum {
	background-image: none;
	background-position: 0 50%;
	background-repeat: no-repeat;
	position: relative;
	white-space: nowrap;
	padding: 0 0 0 12px;
}

.forum-image {
	float: left;
	padding-top: 5px;
	margin-right: 5px;
	transition: opacity 0.5s;
}

.forum_read.hide-icon:hover .forum-image {
	opacity: 1;
}

li.row {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

li.row strong {
	font-weight: normal;
}

li.header dt, li.header dd {
	line-height: 1em;
	border-left-width: 0;
	margin: 2px 0 4px 0;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #000;
}

li.header dt {
	font-weight: bold;
	width: 100%;
	margin-right: -440px;
}

li.header dt .list-inner {
	margin-right: 440px;
}

li.header dd {
	padding-left: 1px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

li.header dl.icon dt, li.header dl.icon dd {
	min-height: 0;
}

.icon.hide-icon {
	background-image: none;
}

li.header dl.icon dt .list-inner {
	/* Tweak for headers alignment when folder icon used */
	padding-left: 0;
	padding-right: 50px;
}

/* Forum list column styles */
dl.icon {
	background-position: 10px 50%;		/* Position of folder icon */
	background-repeat: no-repeat;
}

dl.icon dt {
	background-repeat: no-repeat;
	background-position: 5px 95%;		/* Position of topic icon */
}

dl.icon dt .list-inner {
	padding-left: 45px;					/* Space for folder icon */
}

.icon.hide-icon dt .list-inner {
	padding-left: 5px;
}

dl.icon dt, dl.icon dd {
	min-height: 35px;
}

dl a.icon-link {						/* topic row icon links */
	display: block;
	width: 30px;
	height: 30px;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -15px;
	margin-left: 9px;
}

dd.posts, dd.topics, dd.views, dd.extra, dd.mark {
	width: 80px;
	text-align: center;
	line-height: 2.2em;
	font-size: 1.2em;
}

dd.posts, dd.topics, dd.views {
	width: 95px;
}

/* List in forum description */
dl.icon dt ol,
dl.icon dt ul {
	list-style-position: inside;
	margin-left: 1em;
}

dl.icon dt li {
	display: list-item;
	list-style-type: inherit;
}

dd.lastpost, dd.redirect, dd.moderation, dd.time, dd.info {
	width: 250px;
	font-size: 1.1em;
}

dd.redirect {
	line-height: 2.5em;
}

dd.time {
	line-height: 200%;
}

dd.lastpost > span, ul.topiclist dd.info > span, ul.topiclist dd.time > span, dd.redirect > span, dd.moderation > span {
	display: block;
	padding-left: 5px;
}

dd.extra, dd.mark {
	line-height: 200%;
}

dd.option {
	width: 125px;
	line-height: 200%;
	text-align: center;
	font-size: 1.1em;
}

/* Post body styles
----------------------------------------*/
.postbody {
	padding: 0;
	line-height: 1.48em;
	width: 79%;
	width: calc(100% - 208px);
	float: left;
	position: relative;
}

.postbody .ignore {
	font-size: 1.1em;
}

.postbody h3 {
	/* Postbody requires a different h3 format - so change it here */
	display: inline-block;
	font-size: 1.5em;
	padding: 0;
	margin: 0;
	text-transform: none;
	border: none;
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

.post_icon {
	float: left;
	margin-right: 5px;
}

.postbody .content {
	font-size: 1.3em;
	overflow-x: auto;
}

.postbody img.postimage {
	box-sizing: border-box;
	max-width: 100%;
	vertical-align: bottom;
}

/* Topic review panel
----------------------------------------*/
#review {
	margin-top: 2em;
}

#topicreview {
	padding-right: 5px;
	overflow: auto;
	max-height: 300px;
}

#topicreview .postbody, #postreview .postbody {
	width: auto;
	float: none;
	margin: 0;
	height: auto;
}

#topicreview .post {
	height: auto;
}

#topicreview h2 {
	border-bottom-width: 0;
}

.post-ignore .postbody {
	display: none;
}

/* MCP Post details
----------------------------------------*/
#post_details {
	/* This will only work in IE7+, plus the others */
	overflow: auto;
	max-height: 300px;
}

/* Content container styles
----------------------------------------*/
.content {
	clear: both;
	min-height: 3em;
	overflow: hidden;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	padding-bottom: 1px;
}

.content h2, .panel h2 {
	font-weight: normal;
	border-bottom: 1px solid transparent;
	font-size: 1.6em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
}

.panel h3 {
	margin: 0.5em 0;
}

.panel p {
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}

.content p {
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}

dl.faq {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	margin-top: 1em;
	margin-bottom: 2em;
	line-height: 1.4em;
}

dl.faq dt {
	font-weight: bold;
}

.content dl.faq {
	font-size: 1.2em;
	margin: 1em;
}

.content li {
	list-style-type: inherit;
}

.content ul, .content ol {
	margin-left: 2em;
}

.posthilit {
	padding: 0 2px 1px 2px;
}

/* Post author */
p.author {
	margin: 0.2em 0.4em 0.2em 0;
	padding: 0.2em 0 5px 0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.2em;
}

/* Post signature */
.signature {
	margin-top: 0.4em;
	padding: 0.4em 0;
	font-size: 1em;
	border-top: 1px solid transparent;
	clear: left;
	line-height: 140%;
	overflow: hidden;
	width: 100%;
}

.signature.standalone {
	border-top-width: 0;
	margin-top: 0;
}

dd .signature {
	margin: 0;
	padding: 0;
	clear: none;
	border: none;
}

.signature li {
	list-style-type: inherit;
}

.signature ul, .signature ol {
	margin-bottom: 1em;
	margin-left: 3em;
}

/* Post noticies */
.notice {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	width: auto;
	margin-top: 1.5em;
	padding-top: 0.2em;
	font-size: 1em;
	border-top: 1px dashed transparent;
	clear: left;
	line-height: 130%;
}

/* Jump to post link for now */
ul.searchresults {
	list-style: none;
	text-align: right;
	clear: both;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background: transparent none 6px 8px no-repeat;
	border: 1px solid transparent;
	font-size: 0.95em;
	margin: 0.5em 1px 0 25px;
	overflow: hidden;
	padding: 5px;
}

blockquote blockquote {
	/* Nested quotes */
	font-size: 1em;
	margin: 0.5em 1px 0 15px;
}

blockquote cite {
	/* Username/source of quoter */
	font-style: normal;
	font-weight: bold;
	margin-left: 20px;
	display: block;
	font-size: 0.9em;
}

blockquote cite cite {
	font-size: 1em;
}

blockquote.uncited {
	padding-top: 25px;
}

/* Code block */
.codebox {
	margin: 0.25em 0;
	padding: 3px;
	border: 1px solid transparent;
	font-size: 1em;
}

.codebox > p {
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	margin-bottom: 3px;
	font-size: 0.8em !important;
	font-weight: bold;
	display: block;
}

blockquote .codebox {
	margin-left: 0;
}

.codebox code {
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	white-space: normal;
	padding-top: 5px;
	font: 0.9em "Courier New", Courier, monospace;
	line-height: 1.3em;
	margin: 2px 0;
}

/* Inline code block */
code.tt {
	background-color: #FFFFFF;
	border: 1px solid #c9d2d8;
	color: #2e8b57;
	display: inline;
	font: 0.9em "Courier New", Courier, monospace;
	line-height: 1.3em;
	padding: 0 3px;
}

/* Spoiler block */
dl.spoilerbox {
	margin: 0.25em 0;
	padding: 3px;
	background-color: #FFFFFF;
	border: 1px solid #d8d8d8;
	font-size: 1em;
}

dl.spoilerbox > dt {
	background: url('data:image/gif;base64,R0lGODlhCgAKAKIAADMzM//M/7u7u2ZmZt3d3f///wAAAAAAACH5BAEHAAEALAAAAAAKAAoAAAMVGLrM0+7BMIpsg1iYBeDeNHwTOUEJADs=') no-repeat 4px 4px;
	padding: 4px 5px 4px 18px;
	font-size: 0.9em;
	line-height: 0.9em;
	display: block;
	cursor: pointer;
	color: #105289;
	width: auto;
}

dl.spoilerbox > dt:hover {
	color: #D31141;
	text-decoration: underline;
}

dl.spoilerbox > dd {
	margin-top: 3px;
	border-top: 1px solid #CCCCCC;
	padding: 3px 3px 0 3px;
	display: none;
}

dl.spoilerbox.spoilerbox-on > dt {
	background-image: url('data:image/gif;base64,R0lGODlhCgAKAKIAADMzM//M/2ZmZt3d3f///wAAAAAAAAAAACH5BAEHAAEALAAAAAAKAAoAAAMUGLrc/rCJSecCJBPQwBicA4RRuSQAOw==');
}

dl.spoilerbox.spoilerbox-on > dd {
	display: block;
}

.upd-merged {
	font-size: 85%;
	line-height: normal;
	color: gray;
}

/* Attachments
----------------------------------------*/
.attachbox {
	float: left;
	width: auto;
	max-width: 100%;
	margin: 5px 5px 5px 0;
	padding: 6px;
	border: 1px dashed transparent;
	clear: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.attachbox dt {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

.attachbox dd {
	margin-top: 4px;
	padding-top: 4px;
	clear: left;
	border-top: 1px solid transparent;
	overflow-x: auto;
}

.attachbox dd dd {
	border: none;
}

.attachbox p {
	line-height: 110%;
	font-weight: normal;
	clear: left;
}

.attachbox p.stats
{
	line-height: 110%;
	font-weight: normal;
	clear: left;
}

.attach-image {
	margin: 3px 0;
	max-width: 100%;
}

.attachbox .attach-image {
	max-height: 400px;
	overflow: auto;
}

/* Inline image thumbnails */
div.inline-attachment {
	display: inline-block;
	max-width: 100%;
}

div.inline-attachment dl.thumbnail, div.inline-attachment dl.file {
	display: block;
	line-height: 1em;
}

div.inline-attachment p {
	font-size: 100%;
}

div.inline-attachment .hide-in-inline {
	display: none;
}

dl.file {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
}

dl.file dt {
	text-transform: none;
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.attachbox dl.file a {
	font-weight: bold;
}

dl.file dt.attach-file {
	background: url("./images/icon_topic_attach.gif") no-repeat 0px 3px;
	padding-left: 8px;
}

dl.file dt.attach-file-with-icon > img {
	vertical-align: middle;
}

dl.file dd {
	margin: 0;
	padding: 0;
}

dl.thumbnail img {
	padding: 3px;
	border: 1px solid transparent;
	box-sizing: border-box;
}

dl.thumbnail dd {
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.attachbox dl.thumbnail dd {
	font-size: 100%;
}

dl.thumbnail dt a:hover img {
	border: 1px solid transparent;
}

/* Post poll styles
----------------------------------------*/
fieldset.polls {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

fieldset.polls > dl {
	margin-top: 5px;
	border-top: 1px solid transparent;
	padding: 5px 0 0 0;
	line-height: 120%;
}

fieldset.polls > dl.voted {
	font-weight: bold;
}

fieldset.polls dt {
	text-align: left;
	float: left;
	display: block;
	width: 30%;
	border-right: none;
	padding: 0;
	margin: 0;
	font-size: 1.1em;
}

fieldset.polls dd {
	float: left;
	width: 10%;
	border-left: none;
	padding: 0 5px;
	margin-left: 0;
	font-size: 1.1em;
}

fieldset.polls dd.resultbar {
	width: 50%;
}

fieldset.polls dd input {
	margin: 2px 0;
}

fieldset.polls dd > div {
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 2px 2px 0 2px;
	overflow: visible;
	min-width: 8px;
}

.pollbar1, .pollbar2, .pollbar3, .pollbar4, .pollbar5 {
	border-bottom: 1px solid transparent;
	border-right: 1px solid transparent;
}

.vote-submitted {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	padding: 5px 0;
	min-height: 30px;
	border: 1px solid transparent;
	border-width: 0 0 0 1px;
	width: 20%;
	width: calc(200px);
	float: right;
	position: relative;
}

.postprofile dd, .postprofile dt {
	line-height: 1.2em;
	margin-left: 8px;
}

.postprofile dd {
	overflow: hidden;
	text-overflow: ellipsis;
}

.postprofile .username-coloured, .postprofile .username {
	font-size: 1.1em;
	font-weight: bold;
}


.postprofile strong {
	font-weight: normal;
}

.avatar-container {
	margin-bottom: 3px;
}

.postprofile .avatar {
	margin: 2px 0;
	display: block;
	float: left;
	max-width: 100%;
}

.postprofile .avatar img {
	display: block;
	height: auto !important;
	max-width: 100%;
}

.postprofile .profile-posts a {
	font-weight: normal;
}

dd.profile-warnings {
	font-weight: bold;
}

.profile-contact {
	clear: both;
}

.online .postprofile:after {
	content: '';
	background-image: url("./en/icon_user_online.gif");
	position: absolute;
	right: -10px;
	top: -5px;
	height: 58px;
	width: 58px;
}

html[lang="ru"] .online .postprofile:after {
	background-image: url("./ru/icon_user_online.gif");
}

/* Profile used on view-profile */
.profile-avatar img {
	max-width: 100%;
}

/* pm list in compose message if mass pm is enabled */
dl.pmlist dt {
	width: 60% !important;
}

dl.pmlist dt textarea {
	width: 95%;
}

dl.pmlist dd {
	margin-left: 61% !important;
	margin-bottom: 2px;
}

.action-bar div.dl_links {
	padding: 10px 0 0 10px;
}

div.dl_links {
	display: inline-block;
	text-transform: none;
}

.dl_links strong {
	font-weight: bold;
}

.dl_links ul {
	list-style-type: none;
	margin: 0;
	display: inline-block;
}

.dl_links li {
	display: inline-block;
}

.attachment-filename {
	width: 100%;
}

.ellipsis-text {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.fixed-width-table {
	table-layout: fixed;
}

/* Show scrollbars for items with overflow on iOS devices
----------------------------------------*/
.postbody .content::-webkit-scrollbar, #topicreview::-webkit-scrollbar, #post_details::-webkit-scrollbar, .codebox code::-webkit-scrollbar, .attachbox dd::-webkit-scrollbar, .attach-image::-webkit-scrollbar, .dropdown-extended ul::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	-webkit-appearance: none;
	background: rgba(0, 0, 0, .1);
	border-radius: 3px;
}

.postbody .content::-webkit-scrollbar-thumb, #topicreview::-webkit-scrollbar-thumb, #post_details::-webkit-scrollbar-thumb, .codebox code::-webkit-scrollbar-thumb, .attachbox dd::-webkit-scrollbar-thumb, .attach-image::-webkit-scrollbar-thumb, .dropdown-extended ul::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .3);
	border-radius: 3px;
}

#memberlist tr.inactive, #team tr.inactive {
	font-style: italic;
}

/* Profiles on left
---------------------------------------- */
.mp-on-left .attachbox {
	clear: right;
}

.mp-on-left .postbody {
	float: right;
}

.mp-on-left .postprofile {
	border-right: 1px solid #FFFFFF;
	border-left: 0;
	float: left;
}

.mp-on-left .avatar-container {
	margin-right: 10px;
}

.mp-on-left .pm .postprofile
{
	border-right: 1px solid #DDDDDD;
	border-left: 0;
}

.mp-on-left .postprofile dd, .mp-on-left .postprofile dt {
	margin-left: 0;
}

.mp-on-left .online .postprofile:after {
	right: 0;
	top: -5px;
}

/* Warnings and remarks
---------------------------------------- */
.wcard {
	float: left;
	height: 13px;
	overflow: hidden;
	margin-right: 2px;
}

.wcard:before {
	display: block;
	font-size: 0;
	line-height: 0;
}

.wcards .warning:before {
	content: url("./images/card_warning.gif");
}

.wcards .remark:before {
	content: url("./images/card_remark.gif");
}

.wcards .ban:before {
	content: url("./images/card_ban.gif");
}

.postbody .warning {
	background: url("./images/card_warning.gif") 8px center no-repeat;
}

.postbody .remark {
	background: url("./images/card_remark.gif") 8px center no-repeat;
}

.postbody .ban {
	background: url("./images/card_ban.gif") 8px center no-repeat;
}

.postbody .warning, .postbody .ban, .postbody .remark {
	margin: 3px 0;
	padding: 2px 8px 3px 26px;
	font-size: 1.1em;
	line-height: 1.1em;
	clear: both;
}

.postbody .warning, .postbody .ban {
	background-color: #ECD5D8;
	color: #BC2A4D;
	border: 1px solid #db8180;
}

.postbody .remark {
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #aaaaaa;
}

.postbody .warning .date, .postbody .ban .date, .postbody .remark .date {
	float: right;
}
